@page "/fetchdata"
@using Domain.Models
@using Domain.Entities
@using System.Text.Json
@inject HttpClient Http
@inject IDataService dataService

<PageTitle>Games</PageTitle>

<h1>Games</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.Name</td>
                    <td>@game.Description</td>
                    <td>@game.Price</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Game>? games;

    protected override async Task OnInitializedAsync()
    {
        await dataService.GetGameListAsync(null);
        if(dataService.Success)
        {
            games = dataService.GameList;
        }
	}
}